.inputgrp {
	@media (max-width: $screen-xs-min) {
    	width: 100%;
	}

	.btn,
	.btn-lg,
	.btn-md {
		margin-top: -3px;

		@media (max-width: $screen-xs-min) {
			margin-top: $baseMargin/2;
		}
	}

	span {
		padding: 10px 15px;
	}

	.block {
		margin-top: $baseMargin/2;
	}

	input {
		@media (max-width: $screen-xs-min) {
        	width: 100%;
        	margin-top: $baseMargin/2;
    	}
	}

	label {
		display: inline-block;

		@media (max-width: $screen-xs-min) {
        	width: 100%;
        	margin-top: $baseMargin/2;
    	}

		input {
			margin-top: $basePadding/4;
			display: block;
		}
	}
}

.tc {
	.inputgrp {
		label {
			text-align: left;
		}
	}
}
