/*----------------------------------------------------------------
		PAGE
-------------------------------------------------------------- */

@media (min-width: $screen-lg-min) {}
@media (min-width: $screen-md-min) {}
@media (min-width: $screen-sm-min) {}
@media (min-width: $screen-xs-min) {}

@include break-at($screen-sm) {
	.body {
		width: 100px;
	}

}


a {
	display: block;
	height: 660px;
	width: 1200px;
}


.vaga-bli {
	position: absolute;
	width: 250px;
	top: 100px;
	left: 150px;
}

.passionerad-text {
	position: absolute;
	left: 115px;
	top: 390px;
	width: 320px;
}

.knapp {
	width: 200px;
	position: absolute;
	left: 174px;
	top: 490px;
}

.hjartan {
	position: absolute;
	top: 120px;
	left: 665px;
	width: 70px;
}