/*----------------------------------------------------------------
		COLORS
-------------------------------------------------------------- */

$navy: 			#1D4E89;
$blue: 			#1D4E89;
$aqua: 			#9DC6D8;

$olive: 		#3D9970;
$green: 		#2ECC40;
$lime: 			#01FF70;

$yellow: 		rgb(240, 173, 78);	
$orange: 		#FF851B;
$red: 			#FF4136;

$maroon: 		#85144B;
$purple: 		#B10DC9;

$white: 		#FFFFFF;
$silver: 		#DDDDDD;
$gray: 			#AAAAAA;
$textGray:      #616367;
$black: 		#16161d;

$facebookColor:		#3b5998;
$vimeoColor:		#1ab7ea;

/*----------------------------------------------------------------
		COLORS — VARIABLES
-------------------------------------------------------------- */

$primaryColor:      #7DA1BF;
$secondaryColor:    $yellow;

$linkColor:			$primaryColor;
$linkHoverColor:	darken($primaryColor, 12.5%);

$selectionColor:		$white;
$selectionBackground: 	$primaryColor;

$textColor:			$textGray;
$headingColor:      $black;
$ingressColor:      $black;

$btnColor:			$gray;
$btnColorSuccess:	$green;
$btnColorDanger:	$red;
$btnColorWarning:	$yellow;
$btnColorPrimary:	$primaryColor;
$btnColorSecondary:	$secondaryColor;

$siteHeaderBackgroundColor: $black;
$siteHeaderFontColor: $white;

$blurbHeadingColor: $white;
$blurbBackgroundColor: $black;








