/*----------------------------------------------------------------
    TYPE
-------------------------------------------------------------- */

body {
  font-family: $primaryFont;
  color: $textColor;
}

.tc {text-align: center; }
.tl {text-align: left; }
.tr {text-align: right; }

.strong, .bold {font-weight: bolder; }
.italic {font-style: italic; }

.uppercase {text-transform: uppercase; }
.lowercase {text-transform: lowecase; }
.capitalize {text-transform: capitalize; }

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  margin: $baseMargin 0 $baseMargin/4 0;
  line-height: 1.3;
  color: $headingColor;
}

h1,
h2,
h3,
h4 {
    font-weight: $fontBold;
}

h1>a,
h2>a,
h3>a,
h4>a {
  text-decoration: none;
  color: black;
}

.h1l {
  font-size: $fontH1l;
  line-height: 110%;
}

h1,
.h1 {
  font-size: $fontH1;
}

h2,
.h2 {
  font-size: $fontH2;
}

h3,
.h3 {
  font-size: $fontH3;
}

h4,
.h4 {
  font-size: $fontH4;

}

p,
.p {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-weight: $fontNormal;
  display: block;
  margin: 0 0 16px 0;


  &:last-child {
    margin: 0;
  }
}
