/*----------------------------------------------------------------
    TYPE
    TODO: hur type ska bete sig på mindre skärmar
-------------------------------------------------------------- */

body {
  font-family: $primaryFont;
  color: $textColor;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  margin: 14px 0; 
  line-height: 1;
}

h1,
h2,
h3,
h4 {
    font-weight: $fontBold; 
}

h1>a,
h2>a,
h3>a,
h4>a {
  text-decoration: none;
  color: black;
}

h1,
.h1 {
  font-size: $fontH1;
}

h2,
.h2 {
  font-size: $fontH2;
}

h3,
.h3 {
  font-size: $fontH3;
  @include avenirHeadings();
}

h4,
.h4 {
  font-size: $fontH4;
  
}

p,
.p {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  display: block;
  margin: 0 0 16px 0;

  &:last-child {
    margin: 0;
  }
}