
.rounded {
  border-radius: 3px;
}

.circle {
  border-radius: 50%;
}

.rounded-top {
  border-radius: 3px 3px 0 0;
}

.rounded-right {
  border-radius: 0 3px 3px 0;
}

.rounded-bottom {
  border-radius: 0 0 3px 3px;
}

.rounded-left {
  border-radius: 3px 0 0 3px;
}

.not-rounded {
  border-radius: 0;
}

