@mixin harpyHelpers($suffix: false) {
	@if($suffix) {
		$suffix: -#{$suffix};
	} @else {
		$suffix: unquote('');
	}

	.bs-none#{$suffix} {
		border-style: none;
	}

	.bs-dotted#{$suffix} {
		border-style: dotted;
	}

	.bs-solid#{$suffix} {
		border-style: solid;
	}
}


@include harpyHelpers();
@include harpyHelpers('xs');
@media (min-width: $screen-sm-min) {
	@include harpyHelpers('sm');
}
@media (min-width: $screen-md-min) {
	@include harpyHelpers('md');
}
@media (min-width: $screen-lg-min) {
	@include harpyHelpers('lg');
}
