@mixin harpyHelpers($suffix: false) {
	@if($suffix) {
		$suffix: -#{$suffix};
	} @else {
		$suffix: unquote('');
	}

	.c-navy#{$suffix} {
		color: $navy;
	}

	.c-blue#{$suffix} {
		color: $blue;
	}

	.c-aqua#{$suffix} {
		color: $aqua;
	}

	.c-olive#{$suffix} {
		color: $olive;
	}

	.c-green#{$suffix} {
		color: $green;
	}

	.c-lime#{$suffix} {
		color: $lime;
	}

	.c-yellow#{$suffix} {
		color: $yellow;
	}

	.c-orange#{$suffix} {
		color: $orange;
	}

	.c-red#{$suffix} {
		color: $red;
	}

	.c-maroon#{$suffix} {
		color: $maroon;
	}

	.c-purple#{$suffix} {
		color: $purple;
	}

	.c-white#{$suffix} {
		color: $white;
	}

	.c-silver#{$suffix} {
		color: $silver;
	}

	.c-gray#{$suffix} {
		color: $gray;
	}

	.c-black#{$suffix} {
		color: $black;
	}

	.c-primary#{$suffix} {
		color: $primaryColor;
	}

	.c-primary-dark#{$suffix} {
		color: darken($primaryColor, 12.5%);
	}

	.primary-light#{$suffix} {
		color: lighten($primaryColor, 12.5%);
	}
}


@include harpyHelpers();
@include harpyHelpers('xs');
@media (min-width: $screen-sm-min) {
	@include harpyHelpers('sm');
}
@media (min-width: $screen-md-min) {
	@include harpyHelpers('md');
}
@media (min-width: $screen-lg-min) {
	@include harpyHelpers('lg');
}
