@mixin harpyHelpers($suffix: false) {
	@if($suffix) {
		$suffix: -#{$suffix};
	} @else {
		$suffix: unquote('');
	}

	.navy#{$suffix} {
		color: $navy;
	}

	.blue#{$suffix} {
		color: $blue;
	}

	.aqua#{$suffix} {
		color: $aqua;
	}

	.olive#{$suffix} {
		color: $olive;
	}

	.green#{$suffix} {
		color: $green;
	}

	.lime#{$suffix} {
		color: $lime;
	}
	
	.yellow#{$suffix} {
		color: $yellow;
	}

	.orange#{$suffix} {
		color: $orange;
	}
	
	.red#{$suffix} {
		color: $red;
	}

	.maroon#{$suffix} {
		color: $maroon;
	}

	.purple#{$suffix} {
		color: $purple;
	}

	.white#{$suffix} {
		color: $white;
	}

	.silver#{$suffix} {
		color: $silver;
	}

	.gray#{$suffix} {
		color: $gray;
	}

	.black#{$suffix} {
		color: $black;
	}

	.primary#{$suffix} {
		color: $primaryColor;
	}

	.primary-dark#{$suffix} {
		color: darken($primaryColor, 12.5%);
	}

	.primary-light#{$suffix} {
		color: lighten($primaryColor, 12.5%);
	}
}


@include harpyHelpers();
@include harpyHelpers('xs');
@media (min-width: $screen-sm-min) {
	@include harpyHelpers('sm');
}
@media (min-width: $screen-md-min) {
	@include harpyHelpers('md');
}
@media (min-width: $screen-lg-min) {
	@include harpyHelpers('lg');
}
