@mixin harpyHelpers($suffix: false) {
	@if($suffix) {
		$suffix: -#{$suffix};
	} @else {
		$suffix: unquote('');
	}

	.normal#{$suffix} { font-weight: normal; }
	.b#{$suffix}  { font-weight: bold; }
	.thin#{$suffix}  { font-weight: 100; }
	.book#{$suffix}  { font-weight: 400; }
	.semibold#{$suffix}  { font-weight: 500; }
	.bold#{$suffix}  { font-weight: 600; }
	.heavy#{$suffix}  { font-weight: 700; }
	.ultrabold#{$suffix}  { font-weight: 900; }
}


@include harpyHelpers();
@include harpyHelpers('xs');
@media (min-width: $screen-sm-min) {
	@include harpyHelpers('sm');
}
@media (min-width: $screen-md-min) {
	@include harpyHelpers('md');
}
@media (min-width: $screen-lg-min) {
	@include harpyHelpers('lg');
}
