@mixin harpyHelpers($suffix: false) {
	@if($suffix) {
		$suffix: -#{$suffix};
	} @else {
		$suffix: unquote('');
	}

	.mn#{$suffix} {
		margin: 0;
	}

	/* all */
	.mal#{$suffix} {
		margin: $baseMargin*2;
	}

	.mam#{$suffix} {
		margin: $baseMargin;
	}

	.mas#{$suffix} {
		margin: $baseMargin/2;
	}

	/* top */
	.mtl#{$suffix} {
		margin-top: $baseMargin*2;
	}

	.mtm#{$suffix} {
		margin-top: $baseMargin;
	}

	.mts#{$suffix} {
		margin-top: $baseMargin/2;
	}

	/* bottom */
	.mbl#{$suffix} {
		margin-bottom: $baseMargin*2;
	}

	.mbm#{$suffix} {
		margin-bottom: $baseMargin;
	}

	.mbs#{$suffix} {
		margin-bottom: $baseMargin/2;
	}

	/* right */
	.mrl#{$suffix} {
		margin-right: $baseMargin*2;
	}

	.mrm#{$suffix} {
		margin-right: $baseMargin;
	}

	.mrs#{$suffix} {
		margin-right: $baseMargin/2;
	}

	/* left */
	.mll#{$suffix} {
		margin-left: $baseMargin*2;
	}

	.mlm#{$suffix} {
		margin-left: $baseMargin;
	}

	.mls#{$suffix} {
		margin-left: $baseMargin/2;
	}

	/* margin x */
	.mxl#{$suffix} {
		margin-left: $baseMargin*2;
		margin-right: $baseMargin*2;
	}

	.mxm#{$suffix} {
		margin-left: $baseMargin;
		margin-right: $baseMargin;
	}

	.mxs#{$suffix} {
		margin-left: $baseMargin/2;
		margin-right: $baseMargin/2;
	}

	.mxn#{$suffix} {
		margin-left: 0;
		margin-right: 0;
	}

	/* margin y */
	.myl#{$suffix} {
		margin-top: $baseMargin*2;
		margin-bottom: $baseMargin*2;
	}

	.mym#{$suffix} {
		margin-top: $baseMargin;
		margin-bottom: $baseMargin;
	}

	.mys#{$suffix} {
		margin-top: $baseMargin/2;
		margin-bottom: $baseMargin/2;
	}

	.myn#{$suffix} {
		margin-top: 0;
		margin-bottom: 0;
	}

	/* NEGATIVE */

	/* all */
	.manl#{$suffix} {
		margin: -$baseMargin*2;
	}

	.manm#{$suffix} {
		margin: -$baseMargin;
	}

	.mans#{$suffix} {
		margin: -$baseMargin/2;
	}

	/* top */
	.mtnl#{$suffix} {
		margin-top: -$baseMargin*2;
	}

	.mtnm#{$suffix} {
		margin-top: -$baseMargin;
	}

	.mtns#{$suffix} {
		margin-top: -$baseMargin/2;
	}

	/* bottom */
	.mbnl#{$suffix} {
		margin-bottom: -$baseMargin*2;
	}

	.mbnm#{$suffix} {
		margin-bottom: -$baseMargin;
	}

	.mbns#{$suffix} {
		margin-bottom: -$baseMargin/2;
	}

	/* right */
	.mrnl#{$suffix} {
		margin-right: -$baseMargin*2;
	}

	.mrnm#{$suffix} {
		margin-right: -$baseMargin;
	}

	.mrns#{$suffix} {
		margin-right: -$baseMargin/2;
	}

	/* left */
	.mlnl#{$suffix} {
		margin-left: -$baseMargin*2;
	}

	.mlnm#{$suffix} {
		margin-left: -$baseMargin;
	}

	.mlns#{$suffix} {
		margin-left: -$baseMargin/2;
	}

	/* margin x */
	.mxnl#{$suffix} {
		margin-left: -$baseMargin*2;
		margin-right: -$baseMargin*2;
	}

	.mxnm#{$suffix} {
		margin-left: -$baseMargin;
		margin-right: -$baseMargin;
	}

	.mxns#{$suffix} {
		margin-left: -$baseMargin/2;
		margin-right: -$baseMargin/2;
	}

	/* margin y */
	.mynl#{$suffix} {
		margin-top: -$baseMargin*2;
		margin-bottom: -$baseMargin*2;
	}

	.mynm#{$suffix} {
		margin-top: -$baseMargin;
		margin-bottom: -$baseMargin;
	}

	.myns#{$suffix} {
		margin-top: -$baseMargin/2;
		margin-bottom: -$baseMargin/2;
	}

	
}


@include harpyHelpers();
@include harpyHelpers('xs');
@media (min-width: $screen-sm-min) {
	@include harpyHelpers('sm');
}
@media (min-width: $screen-md-min) {
	@include harpyHelpers('md');
}
@media (min-width: $screen-lg-min) {
	@include harpyHelpers('lg');
}