@mixin harpyHelpers($suffix: false) {
	@if($suffix) {
		$suffix: -#{$suffix};
	} @else {
		$suffix: unquote('');
	}

	.pn#{$suffix} {
		padding: 0;
	}

	/* all */
	.pal#{$suffix} {
		padding: $basePadding*2;
	}

	.pam#{$suffix} {
		padding: $basePadding;
	}

	.pas#{$suffix} {
		padding: $basePadding/2;
	}

	/* top */
	.ptl#{$suffix} {
		padding-top: $basePadding*2;
	}

	.ptm#{$suffix} {
		padding-top: $basePadding;
	}

	.pts#{$suffix} {
		padding-top: $basePadding/2;
	}

	/* bottom */
	.pbl#{$suffix} {
		padding-bottom: $basePadding*2;
	}

	.pbm#{$suffix} {
		padding-bottom: $basePadding;
	}

	.pbs#{$suffix} {
		padding-bottom: $basePadding/2;
	}

	/* right */
	.prl#{$suffix} {
		padding-right: $basePadding*2;
	}

	.prm#{$suffix} {
		padding-right: $basePadding;
	}

	.prs#{$suffix} {
		padding-right: $basePadding/2;
	}

	/* left */
	.pll#{$suffix} {
		padding-left: $basePadding*2;
	}

	.plm#{$suffix} {
		padding-left: $basePadding;
	}

	.pls#{$suffix} {
		padding-left: $basePadding/2;
	}

	/* padding x */
	.pxl#{$suffix} {
		padding-left: $basePadding*2;
		padding-right: $basePadding*2;
	}

	.pxm#{$suffix} {
		padding-left: $basePadding;
		padding-right: $basePadding;
	}

	.pxs#{$suffix} {
		padding-left: $basePadding/2;
		padding-right: $basePadding/2;
	}

	/* padding y */
	.pyl#{$suffix} {
		padding-top: $basePadding*2;
		padding-bottom: $basePadding*2;
	}

	.pym#{$suffix} {
		padding-top: $basePadding;
		padding-bottom: $basePadding;
	}

	.pys#{$suffix} {
		padding-top: $basePadding/2;
		padding-bottom: $basePadding/2;
	}

	
}


@include harpyHelpers();
@include harpyHelpers('xs');
@media (min-width: $screen-sm-min) {
	@include harpyHelpers('sm');
}
@media (min-width: $screen-md-min) {
	@include harpyHelpers('md');
}
@media (min-width: $screen-lg-min) {
	@include harpyHelpers('lg');
}