@mixin harpyHelpers($suffix: false) {
	@if($suffix) {
		$suffix: -#{$suffix};
	} @else {
		$suffix: unquote('');
	}

  .p-ab#{$suffix} {
		position: absolute;
	}

  .p-re#{$suffix} {
		position: relative;
	}

  .p-st#{$suffix} {
		position: static;
	}

  .p-fx#{$suffix} {
		position: fixed;
	}

	.top-0#{$suffix} {
		top: 0;
	}
  .left-0#{$suffix} {
		left: 0;
	}
  .right-0#{$suffix} {
		right: 0;
	}
  .bottom-0#{$suffix} {
		bottom: 0;
	}

  .top-10#{$suffix} {
		top: 10px;
	}
  .bottom-10#{$suffix} {
		bottom: 10px;
	}
  .left-10#{$suffix} {
		left: 10px;
	}
  .right-10#{$suffix} {
		right: 10px;
	}

  .top-20#{$suffix} {
		top: 20px;
	}
  .left-20#{$suffix} {
		left: 20px;
	}
  .right-20#{$suffix} {
		right: 20px;
	}
  .bottom-20#{$suffix} {
		bottom: 20px;
	}

  .top-30#{$suffix} {
		top: 30px;
	}
  .left-30#{$suffix} {
		left: 30px;
	}
  .right-30#{$suffix} {
		right: 30px;
	}
  .bottom-30#{$suffix} {
		bottom: 30px;
	}

  .top-40#{$suffix} {
		top: 40px;
	}
  .left-40#{$suffix} {
		left: 40px;
	}
  .right-40#{$suffix} {
		right: 40px;
	}
  .bottom-40#{$suffix} {
		bottom: 40px;
	}
}


@include harpyHelpers();
@include harpyHelpers('xs');
@media (min-width: $screen-sm-min) {
	@include harpyHelpers('sm');
}
@media (min-width: $screen-md-min) {
	@include harpyHelpers('md');
}
@media (min-width: $screen-lg-min) {
	@include harpyHelpers('lg');
}
