footer {
	@extend .bt;
	@extend .bc-silver;

	a, a:visited {
		@extend .c-black;
		font-size: $baseFontSize - 2;
	}

	.brand {
		width: 30%;
		@extend .dib;
		padding: $basePadding 0;
		@extend .fl;
	}

	nav {
		width: 70%;
		@extend .dib;
		@extend .fl;

		ul {
			@extend .fr;

			li {
				margin: 0 0 0 $baseMargin;
				.btn {
					width: 100px;
				}
			}
		}
	}
}

.sticky-footer {
	footer {
		@extend footer;
		@extend .p-ab;
		@extend .bottom-0;
		width: 100%;
		height: 60px;
	}
}
