.site-header {
	border-bottom: $baseBorderWidth solid $silver;
	padding: $basePadding/2 0;

	.mobile-menu__icon {
		display: none;
	}

	a, a:visited {
		color: $black;
		font-size: $baseFontSize - 2;

		&:hover {
			text-decoration: none;
		}
	}

	.brand {
		width: 30%;
		display: inline-block;
		padding: $basePadding 0;
		float: left;

		a, a:visited {
			&:hover {
				color: $linkHoverColor;
			}
		}
	}

	nav {
		width: 70%;
		display: inline-block;
		float: left;

		ul {
			float: right;

			li {
				margin: 0 0 0 $baseMargin;

				a, a:visited {
					&:hover {
						color: $linkHoverColor;
					}
				}
			}
		}
	}

	&.mobile-menu {
		@media (max-width: $screen-xs) {
		padding: 0;

		.container { padding: 0; }
		.brand {padding: $basePadding; border-bottom: 1px solid $silver; width: 100%; }

		.mobile-menu__icon {
			float: right;
			display: block;
		  position: relative;
		  padding-left: 20px;
			cursor: pointer;
			height: 17px;

			&:before {
				cursor: pointer;
				content: "";
			  position: absolute;
			  left: 0;
			  top: 6px;
			  width: 17px;
			  height: 2px;
			  background: $textColor;
			  box-shadow:
			    0 4px 0 0 $textColor,
			    0 8px 0 0 $textColor;
			}
		}

		nav {
			display: none;
			padding: 0 $basePadding;
			width: 100%;
				ul {
					float: none;
					padding: 0;

					li {
						margin: $baseMargin/2 0;
						display: block;
						border-bottom: 1px solid $silver;
					}
				}
			}
		}
	}
}

.site-header-inverse {
	@extend .site-header;
	background: $siteHeaderBackgroundColor;
	color: $siteHeaderFontColor;
	border: none;

	a,
	a:visited {
		text-decoration: none;
		color: $white;

		&:hover,
  		&:focus {
			text-decoration: none;
			color: darken($white, 12.5%)!important;
		}
	}
}
