.site-header {
	border-bottom: $baseBorderWidth solid $silver;
	padding: $basePadding/2 0;

	a, a:visited {
		color: $black;
		font-size: $baseFontSize - 2;

		&:hover {
			text-decoration: none;
		}
	}

	.brand {
		width: 30%;
		display: inline-block;
		padding: $basePadding 0;
		float: left;
		
		a {
			&:hover {
				color: $linkHoverColor;
			}
		}
	}

	nav {
		width: 70%;
		display: inline-block;
		float: left;

		ul {
			float: right;

			li {
				margin: 0 0 0 $baseMargin;

				a {
					&:hover {
						color: $linkHoverColor;
					}
				}

				.btn {
					width: 100px;
				}
			}
		}
	}
}

.site-header-inverse {
	@extend .site-header;
	background: $siteHeaderBackgroundColor;
	color: $siteHeaderFontColor;
	border: none;

	a, 
	a:visited {
		text-decoration: none;

		&:hover,
  		&:focus {
			text-decoration: none;
			color: darken($white, 12.5%)!important;
		}
	}
}