/*----------------------------------------------------------------
		BUTTONS
-------------------------------------------------------------- */

.btn {
	display: inline-block;
	padding: $btnPaddning;
	margin-bottom: 0px;
	font-weight: 400;
	line-height: 1.6;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: $baseBorderRadius;
	font-size: $baseBtnFontSize;

	&:hover {
		text-decoration: none;
	}
}

footer ul li .btn, header ul li .btn {
	padding: $btnPaddning !important;
	text-align: center;

	color: $primaryColor;
	border-color: $primaryColor;
}

.btn-lg {
	@extend .btn;
	padding: $btnPaddingLg;
}

.btn-md {
	@extend .btn;
	padding: $btnPaddningMd;
}

.btn-primary, .btn-primary:visited {
	background: $btnColorPrimary;
	color: $white !important;
	border: $baseBorderWidth solid $btnColorPrimary;

	&:hover {
		background: darken($btnColorPrimary, 6.5%);
		@extend .btn-primary;
	}
}

.btn-success, .btn-success:visited {
	background: $btnColorSuccess;
	color: $white;
	border: $baseBorderWidth solid $btnColorSuccess;

	&:hover {
		background: darken($btnColorSuccess, 6.5%);
		@extend .btn-success;
	}
}

.btn-danger, .btn-danger:visited {
	background: $btnColorDanger;
	color: $white;
	border: $baseBorderWidth solid $btnColorDanger;

	&:hover {
		background: darken($btnColorDanger, 6.5%);
		@extend .btn-danger;
	}
}

.btn-default, .btn-default:visited {
	background: transparent;
	color: $btnColor;
	border: $baseBorderWidth solid $btnColor;

	&:hover {
		color: $black;
		border-color: black;
	}
}

.btn-warning, .btn-warning:visited {
	background: $btnColorWarning;
	color: $white;
	border: $baseBorderWidth solid $btnColorWarning;

	&:hover {
		background: darken($btnColorWarning, 6.5%);
		@extend .btn-warning;
	}
}
