/* --------------------------------------------------------------
		HELPERS
-------------------------------------------------------------- */

.np {padding: 0 !important}
.nm {margin: 0 !important}

.fl {float: left}
.fr {float: right}
.fn {float: none}

.pull-right {float: right;}
.pull-left {float: left; }

.block {display: block}
.inline {display: inline}
.inline-block {display: inline-block;}

.hidden {display: none}
.nothidden {display: block}

.visible {visibility: visible}
.notvisible {visibility: hidden}

.absolute {position: absolute}
.fixed {position: fixed}
.relative {position: relative}
.static {position: static}

.o-hidden {overflow: hidden}
.o-scroll {overflow: scroll}


