$border-width-base: 1.5 !default;
$border-width-factor: .2rem !default;
$border-widths: (
	'': 1px,
) !default;

$border-styles: (
	'': solid,
	'd': dotted,
) !default;

$border-none-alias: 'bn' !default;
@if($border-none-alias) {
	.#{$border-none-alias} {
		border-width: 0;
		border-style: solid;
	}
}

@each $width-alias, $width in $border-widths {
	@each $style-alias, $style in $border-styles {
		.b#{$style-alias}a#{$width-alias} {
			border-width: $width;
			border-style: $style;
		}
		.b#{$style-alias}t#{$width-alias} {
			border-top-width: $width;
			border-top-style: $style;
		}
		.b#{$style-alias}r#{$width-alias} {
			border-right-width: $width;
			border-right-style: $style;
		}
		.b#{$style-alias}b#{$width-alias} {
			border-bottom-width: $width;
			border-bottom-style: $style;
		}
		.b#{$style-alias}l#{$width-alias} {
			border-left-width: $width;
			border-left-style: $style;
		}
		.b#{$style-alias}v#{$width-alias} {
			border-top-width: $width;
			border-top-style: $style;
			border-bottom-width: $width;
			border-bottom-style: $style;
		}
		.b#{$style-alias}h#{$width-alias} {
			border-right-width: $width;
			border-right-style: $style;
			border-left-width: $width;
			border-left-style: $style;
		}
	}
}
