$colors: () !default;

$color-inherit-alias: 'inherit' !default;
@if($color-inherit-alias) {
	$colors: map-merge(('#{$color-inherit-alias}': inherit), $colors);
}

@function color($name) {
	@return map-get($colors, $name);
}

$color-alias: '' !default;
$background-color-alias: 'bg-' !default;
$focus-outline-alias: 'fo-' !default;
$border-color-alias: 'bc-' !default;
$text-shadow-alias: 'ts-' !default;

@each $name, $value in $colors {
	.#{$color-alias}#{$name} {
		/*hrpy:{"section": "text-color", "color": "#{$name}"}*/
		color: $value;
	}
	.#{$background-color-alias}#{$name} {
		/*hrpy:{"section": "background-color", "color": "#{$name}"}*/
		background-color: $value;
	}
	.#{$focus-outline-alias}#{$name} {
		/*hrpy:{"section": "focus-outline", "color": "#{$name}"}*/
		box-shadow: 0 0 0 2px $value;
	}
	.#{$text-shadow-alias}#{$name} {
		/*hrpy:{"section": "text-shadow", "color": "#{$name}"}*/
		text-shadow: 0 1px 1px $value;
	}
	.#{$border-color-alias}#{$name} {
		/*hrpy:{"section": "border-color", "color": "#{$name}"}*/
		border-color: $value;
	}
}

@each $state in $states {
	@each $name, $value in $colors {
		.#{$state}-#{$color-alias}#{$name}:#{$state},
		.#{$state}-#{$color-alias}#{$name}.#{$state} {
			/*hrpy:{"class": "#{$state}-#{$color-alias}#{$name}", "section": "text-color", "color": "#{$name}", "state": "#{$state}"}*/
			color: $value;
		}
		.#{$state}-#{$background-color-alias}#{$name}:#{$state},
		.#{$state}-#{$background-color-alias}#{$name}.#{$state} {
			/*hrpy:{"class": "#{$state}-#{$background-color-alias}#{$name}", "section": "background-color", "color": "#{$name}", "state": "#{$state}"}*/
			background-color: $value;
		}
		.#{$state}-#{$focus-outline-alias}#{$name}:#{$state},
		.#{$state}-#{$focus-outline-alias}#{$name}.#{$state} {
			/*hrpy:{"class": "#{$state}-#{$focus-outline-alias}#{$name}", "section": "focus-outline", "color": "#{$name}", "state": "#{$state}"}*/
			box-shadow: 0 0 0 2px $value;
		}
		.#{$state}-#{$text-shadow-alias}#{$name}:#{$state},
		.#{$state}-#{$text-shadow-alias}#{$name}.#{$state} {
			/*hrpy:{"class": "#{$state}-#{$text-shadow-alias}#{$name}", "section": "text-shadow", "color": "#{$name}", "state": "#{$state}"}*/
			text-shadow: 0 1px 1px $value;
		}
		.#{$state}-#{$border-color-alias}#{$name}:#{$state},
		.#{$state}-#{$border-color-alias}#{$name}.#{$state} {
			/*hrpy:{"class": "#{$state}-#{$border-color-alias}#{$name}", "section": "border-color", "color": "#{$name}", "state": "#{$state}"}*/
			border-color: $value;
		}
	}
}
