$font-size-base: 1.25 !default;
$font-size-factor: 1rem !default;
$font-sizes: (
	'0': 0,
	'-i': inherit,
	'xxs': $font-size-factor * power($font-size-base, -3),
	'xs': $font-size-factor * power($font-size-base, -2),
	's': $font-size-factor * power($font-size-base, -1),
	'm': $font-size-factor * power($font-size-base, 0),
	'l': $font-size-factor * power($font-size-base, 1),
	'xl': $font-size-factor * power($font-size-base, 2),
	'xxl': $font-size-factor * power($font-size-base, 3),
	'xxxl': $font-size-factor * power($font-size-base, 4),
) !default;

$font-sizes-headings: true !default;
@if($font-sizes-headings) {
	$font-sizes: map-merge($font-sizes, (
		'-h1': $font-size-factor * power($font-size-base, 2),
		'-h2': $font-size-factor * power($font-size-base, 1),
		'-h3': $font-size-factor * power($font-size-base, 0),
		'-h4': $font-size-factor * power($font-size-base, -1),
		'-h5': $font-size-factor * power($font-size-base, -1),
		'-h6': $font-size-factor * power($font-size-base, -1),
	));
}

$additional-font-sizes: () !default;
$font-sizes: map-merge($font-sizes, $additional-font-sizes);

@each $name, $value in $font-sizes {
	.fs#{$name} {
		font-size: $value;
	}
}
@each $bp-alias, $bp-value in $breakpoints {
	@each $name, $value in $font-sizes {
		@media only screen and #{$bp-value} {
			.fs#{$name}-#{$bp-alias} {
				font-size: $value;
			}
		}
	}
}
