$margin-horizontal-alias: 'h';
$margin-vertical-alias: 'v';

$margins: () !default;

$margin-auto-alias: '-aut' !default;
@if($margin-auto-alias) {
	$margins: map-merge(('#{$margin-auto-alias}': auto), $margins);
}

$margin-none-alias: 'n' !default;
@if($margin-none-alias) {
	$margins: map-merge(('#{$margin-none-alias}': 0), $margins);
}

@each $name, $value in $margins {
	.ma#{$name} {
		/*hrpy:{"class": "ma#{$name}", "section": "margin", "value": "#{$value}"}*/
		margin: $value;
	}
	.mt#{$name} {
		margin-top: $value;
	}
	.mr#{$name} {
		margin-right: $value;
	}
	.mb#{$name} {
		margin-bottom: $value;
	}
	.ml#{$name} {
		margin-left: $value;
	}
	.m#{$margin-vertical-alias}#{$name} {
		margin-top: $value;
		margin-bottom: $value;
	}
	.m#{$margin-horizontal-alias}#{$name} {
		margin-right: $value;
		margin-left: $value;
	}
}
@each $name, $value in $margins {
	@if type-of($value) == number and $value > 0 {
		.ma#{$name}-neg {
			margin: -$value;
		}
		.mt#{$name}-neg {
			margin-top: -$value;
		}
		.mr#{$name}-neg {
			margin-right: -$value;
		}
		.mb#{$name}-neg {
			margin-bottom: -$value;
		}
		.ml#{$name}-neg {
			margin-left: -$value;
		}
		.mv#{$name}-neg {
			margin-top: -$value;
			margin-bottom: -$value;
		}
		.mh#{$name}-neg {
			margin-right: -$value;
			margin-left: -$value;
		}
	}
}
@each $bp-alias, $bp-value in $breakpoints {
	@each $name, $value in $margins {
		@media only screen and #{$bp-value} {
			.ma#{$name}-#{$bp-alias} {
				margin: $value;
			}
			.mt#{$name}-#{$bp-alias} {
				margin-top: $value;
			}
			.mr#{$name}-#{$bp-alias} {
				margin-right: $value;
			}
			.mb#{$name}-#{$bp-alias} {
				margin-bottom: $value;
			}
			.ml#{$name}-#{$bp-alias} {
				margin-left: $value;
			}
			.m#{$margin-vertical-alias}#{$name}-#{$bp-alias} {
				margin-top: $value;
				margin-bottom: $value;
			}
			.m#{$margin-horizontal-alias}#{$name}-#{$bp-alias} {
				margin-right: $value;
				margin-left: $value;
			}
		}
	}
}
@each $bp-alias, $bp-value in $breakpoints {
	@each $name, $value in $margins {
		@if type-of($value) == number and $value > 0 {
			@media only screen and #{$bp-value} {
				.ma#{$name}-neg-#{$bp-alias} {
					margin: -$value;
				}
				.mt#{$name}-neg-#{$bp-alias} {
					margin-top: -$value;
				}
				.mr#{$name}-neg-#{$bp-alias} {
					margin-right: -$value;
				}
				.mb#{$name}-neg-#{$bp-alias} {
					margin-bottom: -$value;
				}
				.ml#{$name}-neg-#{$bp-alias} {
					margin-left: -$value;
				}
				.mv#{$name}-neg-#{$bp-alias} {
					margin-top: -$value;
					margin-bottom: -$value;
				}
				.mh#{$name}-neg-#{$bp-alias} {
					margin-right: -$value;
					margin-left: -$value;
				}
			}
		}
	}
}
