$padding-horizontal-alias: 'h';
$padding-vertical-alias: 'v';

$padding-base: 2 !default;
$padding-factor: $font-size-factor * 1.5 !default;
$paddings: (
	'n': 0,
	'1': 1px,
	'xxs': $padding-factor * power($padding-base, -3),
	'xs': $padding-factor * power($padding-base, -2),
	's': $padding-factor * power($padding-base, -1),
	'm': $padding-factor * power($padding-base, 0),
	'l': $padding-factor * power($padding-base, 1),
	'xl': $padding-factor * power($padding-base, 2),
	'xxl': $padding-factor * power($padding-base, 3),
) !default;

$enable-semi-paddings: true !default;
@if($enable-semi-paddings) {
	$padding-base-sqrt: sqrt($padding-base);
	$paddings: map-merge($paddings, (
		'sxxs': $padding-factor * power($padding-base-sqrt, -5),
		'sxs': $padding-factor * power($padding-base-sqrt, -3),
		'ss': $padding-factor * power($padding-base-sqrt, -1),
		'sl': $padding-factor * power($padding-base-sqrt, 1),
		'sxl': $padding-factor * power($padding-base-sqrt, 3),
		'sxxl': $padding-factor * power($padding-base-sqrt, 5),
	));
}

$additional-paddings: () !default;
$paddings: map-merge($paddings, $additional-paddings);

@each $name, $value in $paddings {
	.pa#{$name} {
		/*hrpy:{"class": "pa#{$name}", "section": "padding", "value": "#{$value}"}*/
		padding: $value;
	}
	.pt#{$name} {
		padding-top: $value;
	}
	.pr#{$name} {
		padding-right: $value;
	}
	.pb#{$name} {
		padding-bottom: $value;
	}
	.pl#{$name} {
		padding-left: $value;
	}
	.p#{$padding-vertical-alias}#{$name} {
		padding-top: $value;
		padding-bottom: $value;
	}
	.p#{$padding-horizontal-alias}#{$name} {
		padding-right: $value;
		padding-left: $value;
	}
	@each $bp-alias, $bp-value in $breakpoints {
		@media only screen and #{$bp-value} {
			.pa#{$name}-#{$bp-alias} {
				padding: $value;
			}
			.pt#{$name}-#{$bp-alias} {
				padding-top: $value;
			}
			.pr#{$name}-#{$bp-alias} {
				padding-right: $value;
			}
			.pb#{$name}-#{$bp-alias} {
				padding-bottom: $value;
			}
			.pl#{$name}-#{$bp-alias} {
				padding-left: $value;
			}
			.p#{$padding-vertical-alias}#{$name}-#{$bp-alias} {
				padding-top: $value;
				padding-bottom: $value;
			}
			.p#{$padding-horizontal-alias}#{$name}-#{$bp-alias} {
				padding-right: $value;
				padding-left: $value;
			}
		}
	}
}
