$widths: () !default;

@each $name, $value in $widths {
	.minw#{$name} {
		min-width: $value;
	}
	.maxw#{$name} {
		max-width: $value;
	}
	.w#{$name} {
		width: $value;
	}
}
@each $bp-alias, $bp-value in $breakpoints {
	@each $name, $value in $widths {
		@media only screen and #{$bp-value} {
			.minw#{$name}-#{$bp-alias} {
				min-width: $value;
			}
			.maxw#{$name}-#{$bp-alias} {
				max-width: $value;
			}
			.w#{$name}-#{$bp-alias} {
				width: $value;
			}
		}
	}
}
